html {
    margin:0px;
    padding:5px;
    background-color: #FFFFEB;
    font-family: Arial,Helvetica,sans-serif;
}

.body-container {
    background-color:#FFFFFF;
    width: 600px;
    min-height: 700px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0px;
    border-style:solid;
    border-color: #66C2E0;
    border-width: 3px;
    padding-top:0px;    
}

.header-panel {
    width:auto;
    height:80px;
    text-align: center;
    padding: 5px;
    /*background-color:#66E0FF;*/
}

.button-panel{
    width:auto;
    height:20px;
    background-color:#66C2E0;/*#4D94FF;*/
    font-variant:small-caps;
}


h1 {
    background-color:auto;
    letter-spacing: 6px;
    margin-top:0px;
    font-variant:small-caps;
    font-family: "Georgia", serif;
    font-weight: 100;
   
    color:black;
    font-size: 60px;
}